
  
.main-content {
  margin-left: 300px; /* Offset for sidebar */
  padding: 30px;
  min-height: 100vh;
  background-color: #1D1A1A;
  flex: 1;
  
}
  
  /* DASHBOARD CARDS */
  .dashboard {
    display: flex;
    gap: 20px;
  }
  
  .card {
    background-color: #374151;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 32px;
    font-weight: bold;
  }
  

