


/* Main Content */
.main-content {
  margin-left: 300px; /* Offset for sidebar */
  padding: 30px;
  min-height: 100vh;
  background-color: #1D1A1A;
  flex: 1;
  
}

/* Form Section */
.form-section,
.form-container {
  background-color: #f9fbff;
  padding: 30px 40px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.form-section h2,
.form-container h2 {
  margin-bottom: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.form-container h2 {
  color: #1e293b;
}

.form-section form,
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #000000;
}

.form-container label {
  color: #000;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="datetime-local"],
textarea,
select {
  width: 100%;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background-color: #f9fafb;
  font-family: inherit;
}

.form-section input,
.form-section textarea,
.form-section select {
  background-color:#F9FAFB;
  color: #000000;
  border: 1.8px solid #000000;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #000000;
}

.submit-btn,
.form-section button {
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background: #111827;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}


.submit-btn:hover,
.form-section button:hover {
  background-color: #306e88;
}



