.z-container-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05); /* subtle white shadow */
}

.z-navbar {
    background-color: #353333df;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(52, 49, 49); /* full opaque initially */
    transition: background-color 0.3s ease;
}

/* When scrolled */
.z-navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* semi-transparent */
}



.z-logo {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

.z-nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.z-nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
    text-shadow: 1px 1px 2px black;
}

.z-nav-menu li a:hover {
    background-color: #ffffff;
    color: #1a1a1a;
}

.z-nav-menu li a.active {
    background-color: #ffffff;
    color: #1a1a1a;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid #fff;
}
.z-nav-menu li a {
    transition: all 0.3s ease-in-out;
}
